body {
    background-color: wheat;
    font-family: "Verdana";
}

principal-title {
    text-align: center;
}

principal-tabs {
    background-color: red;
}

sub-tab {
    background-color: greenyellow;
    color: gray;
}

sel-subtab {
    color: blue;
}
